<html>
 <head>
  <title> Expenses</title>
  <link rel="icon" href="http://blog.quikr.com/wp-content/uploads/2015/09/Favicon.ico" >
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
   integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
   crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/addNewExpense.css" >
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
 </head>
 <body>
 
  <div class=" wrap-exp-form jumbotron">
  <a style="color: white; font-size: 2em;" class="back-btn btn btn-sm btn-primary" href="/reimbursement"><i class="fas fa-arrow-left"></i></a>
  <h2 align="left">NON CTC-Expense Reimbursement</h2>
  <div class="user-detail-wrap">
    <p><strong> Emp Id :</strong> <span class="user-detail">{{emp.empid}}</span></p>
    <p><strong> Name :</strong> <span class="user-detail">{{emp.name}}</span></p>
    <p> <strong>Designation :</strong> <span class="user-detail">{{emp.designation}}</span></p>
    <p> <strong>Vertical :</strong> <span class="user-detail">{{emp.name}}</span></p>
    <p> <strong>Email :</strong> <span class="user-detail">{{emp.email}}</span></p>
  </div> 
  
   <h3 align="left">Add your Expense<span style="color: red;">( All field are mandatory*)</span></h3>
   
   <form method="POST" id="insert_form" enctype="multipart/form-data" encoding='multipart/form-data' action="/reimbursement/addexpense">
    <div class="table-repsonsive">
     <span id="error"></span>
     <table class="table table-bordered" id="item_table" width="100%">
      <tr>
        <th width="10%">Start Date</th>
        <th width="10%">End Date</th>
        <th>Taxi/ Auto/Bus/ Rail Fare</th>
        <th>Airfare</th>
        <th>Petrol Reimbursement</th>
        <th>Telephone</th>
        <th>Hotel Stay</th>
        <th>Buisness Meal</th>
        <th>Miscellaneous</th>
        <th>Buisness Justification</th>
        <th>Upload Document</th>
        <th></th>
      </tr>
   <tr>
        <td width="10%"><input width="20%" type="date" name="dateStart[]" class="form-control start_date" required/></td>
        <td width="10%"><input width="20%" type="date" name="dateEnd[]" class="form-control end_date"  required/></td>
        <td ><input type="text" value="0" name="road[]" class="form-control via_road" required/></td>
        <td ><input type="text" value="0" name="air[]" class="form-control via_air" required/></td >
        <td ><input type="text" value="0" name="petrol[]" class="form-control petrol_exp" required/></td >
        <td ><input type="text" value="0" name="telephone[]" class="form-control petrol_exp" required/></td >
        <td ><input type="text" value="0" name="hotel[]" class="form-control hotel_exp" required/></td >
        <td ><input type="text" value="0" name="buisness[]" class="form-control meal_exp" required/></td >
        <td ><input type="text" value="0" name="miscellaneous[]" class="form-control Miscellaneous" required/></td >
        <td ><textarea type="text" name="disc[]" class="form-control disc" cols="100" rows ="2"  required></textarea></td >
        <td ><input type="file" name="files[]" class="form-control files" accept=".png,.jpg"required/></td >
        <td ><button type="button" name="add" class="btn btn-success btn-sm add"><span class="glyphicon glyphicon-plus"></span></button></td>
  </tr>
 </table>

     <div align="center">
      <input type="submit"  name="submit" class="btn btn-warning" value="Final Submit!!" />
     </div>
    </div>
   </form>
  </div>

  <script src="/js/addNewExp.js"></script>
 </body>
</html>

<script>
$(document).ready(function(){
 
 $(document).on('click', '.add', function(){
  var html = '';
  html += '<tr>';
  html += '<td><input type="date" name="date[]" class="form-control start_date" required/></td>';
   html += '<td><input type="date" name="date[]" class="form-control end_date" required/></td>';
  html += '<td><input type="text" value="0" name="road[]" class="form-control via_road" required/></td>';
  html += '<td><input type="text" value="0" name="air[]" class="form-control via_air" required/></td>';
  html += '<td><input type="text" value="0" name="petrol[]" class="form-control petrol_exp" required/></td>';
  html += '<td><input type="text" value="0" name="telephone[]" class="form-control telphone_exp" required/></td>';
  html += '<td><input type="text" value="0" name="hotel[]" class="form-control hotel_exp" required/></td>';
  html += '<td><input type="text" value="0" name="buisness[]" class="form-control meal_exp" required/></td>';
  html += '<td><input type="text" value="0" name="miscellaneous[]" class="form-control Miscellaneous" required/></td>';
  html += '<td><input type="text" name="disc[]" class="form-control disc" required/></td>';
  html += '<td><input type="file" name="files[]" class="form-control files" required/></td>';
  html += '<td><button type="button" name="remove" class="btn btn-danger btn-sm remove"><span class="glyphicon glyphicon-minus"></span></button></td></tr>';
     
     
  $('#item_table').append(html);
 });
 
 $(document).on('click', '.remove', function(){
  $(this).closest('tr').remove();
 });
 
 
 
});
</script>
