{% extends 'base.html.twig' %}
 
 {% block title %}Detail View{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="/assets/reimbursement.css" >
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
           integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
           crossorigin="anonymous">
     <style>
         tr:nth-child(even){background-color: #f2f2f2}
     </style>
 {% endblock %}
  {% block jscript %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  {% endblock %}


 {% block body %}

     <!-- Flash Images -->
     {% for message in app.flashes('ins') %}
         <div class="alert alert-danger" role="alert">
             {{ message }}
         </div>
     {% endfor %}


     <!-- header -->

     <header>
         <!-- Navbar -->
     </header>



     <div class="container" >

     <a style="color: black; font-size: em; margin-top:10px"  href="/finance"><i class="fas fa-arrow-left"></i></a>

     <div id="heading" >
         <h3>Detail View</h3><br><br>
     </div>





     <!-- ============

     Outer for loop

     ================== -->


     {% if result %}

         {% set i=0 %}
         <div class="panel-group" id="accordion">
             <div class="panel panel-default">
                 {% for data in result %}
                 <b> Expense Start Date :<span>{{data.startDate|date("Y/m/d")}}</span></b><br>
                 <b> Expense End Date :<span>{{data.endDate|date("Y/m/d")}}</span></b><br>
                 <b> Total Expense :<span>{{data.totalExp}}</span><b><br>
                         <b> Description :<span>{{data.description}}</span><b><br><br><br><br>
                                 <div class="panel-body">
                                     <table cellpadding="0" cellspacing="0" border="0" class="table display" id="example" width="100%">
                                         <thead>

                                         <tr>
                                             <th>Expense Type</th>
                                             <th>Expense Cost</th>
                                             <th>Document Proof</th>

                                         </tr>
                                         </thead>
                                         <tbody>
                                         {% for key,value in data.imageUrls %}

                                             <tr>


                                                 <td>{{key}}</td>
                                                 <td>{{data[key]}}</td>

                                                 <td>
                                                     {% if value == "noUrl" %}
                                                         No Document Available
                                                     {% else %}
                                                         <button type="button"
                                                                 class="btn btn-primary"
                                                                 data-toggle="modal" data-target="#myModal{{i}}">
                                                             View image
                                                         </button>
                                                     {% endif %}

                                                 <td>



                                             </tr>



                                             <!-- The Modal -->
                                             <div id="myModal{{i}}"class="modal fade" tabindex="-1" role="dialog">
                                                 <div class="modal-dialog">
                                                     <div class="modal-content">
                                                         <div class="modal-body">
                                                             <img src="{{ value }}" class="img-responsive">
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                             {% set i=i+1 %}
                                         {% endfor %}
                                         {% endfor %}

                                         </tbody>
                                     </table>
                                 </div>
             </div>

         </div>
         <!--- End -->


     {% else %}
         <p> No Data </p>
     {% endif %}


 {% endblock %}