{% extends 'base.html.twig' %}
 
 {% block title %}Finance{% endblock %}

 {% block stylesheets %}
  <link rel="stylesheet" href="/assets/reimbursement.css" >
 {% endblock %}

 {% block body %}

 

  <!-- header -->
 <header>
    <!-- Navbar -->
    {{ include('inc/navbar.html.twig') }}
</header> 

<!-- Section -->
<section class="container">

<div class="jumbotron">
  
   <div style="display : flex">
    <div class="page-header">
       <h3>Pending Payments</h3>
       <hr>
   </div>

   <h4 class="panel-title pull-right" style="margin-left:70%">
            <a  href="/finance/paidview" class="btn btn-sm btn-info">
            PAID
            </a>
          </h4>
          </div>
   <!--  Start -->
{% if result %}
    {% for key,value in result %}


    
        <div class="panel-heading clearfix">
          
          
         
         
          <h4 class="panel-title pull-left">
                     <b>  MANAGER ID {{ key }}</b>

          </h4>
         
           {% for k,v in value %}
           
       
           
            <div class="panel-body">
            <table cellpadding="0" cellspacing="0"  border="0" class="table display" id="example" width="100%">
            <thead>
                  <tr>
                  <th width="15%"> Name </th>
                  <th width="15%">Emp Id</th>
                  <th width="10%">FORM ID</th>
                    <th width="15%">Total Exp</th>
                    <th width="15%">Approved Date</th>
                    <th width="15%">Action</th>
                    <th>Comments</th>
                    <th width="15%">Details</th>
                </tr>
              </thead>
              <tbody>
               {% for k1,v1 in v %}
                <tr>
                    <td width="15%"> {{ v1.empname }}</td>
                    <td width="10%"> {{ k }}</td>
                    <td width="10%"> {{ v1.formid }}  </td>
                    <td width="10%"> {{ v1.total_exp }} </td>
                    <td width="10%"> {{ v1.approved_date|date("Y/m/d") }} </td>
                    <td width="10%">  
                        <a id="pay" name="status" class="btn btn-sm btn-warning" href="/finance/payment/{{ v1.formid }}"> Approve</a>
                    </td>
                    <td width="25%">
                      <form method="POST" action="/finance/payment/{{ v1.formid }}">
                         <textarea type="text" name="disc[]" class="form-control disc" cols="100" rows ="2"  required></textarea>
                         <input style="width:100%;" type="submit" id="pay" name="status" class="btn btn-sm btn-danger" value="Reject" />
                      </form>
                    </td>
                    <td width="10%"> <a id="view" name="details" href="/finance/view/{{ v1.formid }}" class="btn btn-xs btn-info"> VIEW</a></td>
                        <!-- Approve or Reject -->
                </tr>
            {% endfor %}
           {% endfor %}
        </tbody>
        </table>
        </div>
        </div>
      
    <!--- End -->

    {% endfor %}
 {% endif %}   
{% endblock %}



{% block javascripts %}
  <footer class="page-footer font-small blue pt-4 mt-4">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8">
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
  </script>
  </footer>
{% endblock %}