{% extends 'base.html.twig' %}
 
 {% block title %}Reimbursement{% endblock %}

 {% block stylesheets %}
  <link rel="stylesheet" href="/assets/reimbursement.css" >
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
       integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
       crossorigin="anonymous">
 {% endblock %}
  {% block jscript %} 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
 {% endblock %}


 {% block body %}

 <!-- Flash Images -->
{% for message in app.flashes('ins') %}
    <div class="alert alert-danger" role="alert">
          {{ message }}
     </div>
 {% endfor %}
 
{% for message in app.flashes('lg') %}
    <div class="alert alert-success" role="alert">
          {{ message }}
     </div>
 {% endfor %}
 
  <!-- header -->
 <header>
    <!-- Navbar -->
    {{ include('inc/navbar.html.twig') }}
</header> 



<div class="container" >

 <div class="jumbotron">
    <div class="page-header">
      <legend><h3>Add your Expenses </h3></legend>
      
    </div>

   <a id="publish" name="status" class="btn btn-xs btn-info" 
         href="/reimbursement/new"> Add Expense </a>

 </div>




<!-- ============

Outer for loop

================== -->
{% if result %}
{% set i = 0 %}
{% for data in result %}
    <div style="border: 2px solid black ; margin-top: 10px; padding: 5px;">
      <div style="display:flex">
          <h4> Form ID {{data.empId}}</h4>
{#          <div>#}
{#            {% if status[key[i]] == "pending" %}#}
{#                <p style="color: #15151c;"> <i class="fas fa-clock"></i></p>#}
{#            {% elseif status[key[i]] == "rejected" %}#}
{#                  <p style="color: red;"> <i class="fas fa-times-circle"></i></p>#}

{#            {% else %}#}
{#                <p style="color : green"> <i class="fas fa-check-circle"></i> </p>      #}
{#            {% endif %}#}
{#          </div>#}
        </div>
        <table cellpadding="0" cellspacing="0" border="0" class="table display" id="example" width="100%">
          <thead>
              <tr>
               <th>Start Date</th>
               <th> End Date</th>
               <th>Taxi/ Auto/Bus/ Rail Fare</th>
                <th>Airfare</th>
                <th>Petrol</th>
                <th>Telephone Expense</th>
                <th>Bussiness Meal</th>
                <th>Hotel Stay</th>
                <th>Miscellaneous</th>
                <th>Description</th>
                <th>Total</th>
             </tr>
          </thead>
           <tbody>
             {% for res in data.tasks %}
               <tr>
                   <td> {{ res.startDate|date("Y/m/d") }} </td>
                   <td> {{ res.endDate|date("Y/m/d") }} </td>
                    <td> {{ res.airFare }} </td>
                    <td> {{ res.roadFare }} </td>
                    <td> {{ res.petrol}} </td>
                    <td> {{ res.telephoneExp}}</td>
                    <td> {{ res.businessMeal }}</td>
                    <td> {{ res.hotelStay }}</td>
                    <td> {{ res.miscelleneous }}</td>
                    <td> {{ res.totalExp }} </td>
               </tr>
           {% endfor %}
       </tbody>
      </table>
    </div>
{%  endfor %}
    {# </div>
  </div>

 </div>  #}
<!--- End -->
{% else %}
<h3>NO DATA</h3>
{% endif %}
{% endblock %}
