{% extends 'base.html.twig' %}
 
 {% block title %}Reimbursement{% endblock %}

 {% block stylesheets %}
  <link rel="stylesheet" href="/assets/reimbursement.css" >
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
       integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
       crossorigin="anonymous">
 {% endblock %}
  {% block jscript %} 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
 {% endblock %}


 {% block body %}

 <!-- Flash Images -->
{% for message in app.flashes('ins') %}
    <div class="alert alert-danger" role="alert">
          {{ message }}
     </div>
 {% endfor %}
 
{% for message in app.flashes('lg') %}
    <div class="alert alert-success" role="alert">
          {{ message }}
     </div>
 {% endfor %}
 
  <!-- header -->
 <header>
    <!-- Navbar -->
    {{ include('inc/navbar.html.twig') }}
</header> 



<div style="padding: 1%;" >

 <div class="jumbotron">
    <div class="page-header">
      <legend><h3>Add your Expenses </h3></legend>
      
    </div>

   <a id="publish" name="status" class="btn btn-xs btn-info" 
         href="/reimbursement/new"> Add Expense </a>

 </div>




<!-- ============

Outer for loop

================== -->
{% if result %}
{% for data in result %}
    <div style="border: 2px solid black ; margin-top: 10px; padding: 5px;">
      <div style="display:flex">
          <h4> Form ID {{data.formattedFormId}}</h4>
          <div>
            {% if data.managerStatus == "pending" %}
                <p style="color: #15151c;"> <i class="fas fa-clock"></i></p>
            {% elseif data.managerStatus  == "rejected" %}
                  <p style="color: red;"> <i class="fas fa-times-circle"></i></p>
            {% else %}
                <p style="color : green"> <i class="fas fa-check-circle"></i> </p>
            {% endif %}
          </div>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" class="table display" id="example" width="100%">
          <thead>
              <tr>
               <th>Start Date</th>
               <th> End Date</th>
               <th>Airfare</th>
               <th>Local Travel</th>
               <th>Petrol</th>
               <th>Monthly Mobile </th>
               <th>Lunch Snacks</th>
               <th>Hotel Stay</th>
               <th>Local Travel-Outstation</th>
               <th>Team Outing</th>
               <th>Miscellaneous</th>
               <th>Description</th>
               <th>Total</th>
             </tr>
          </thead>
           <tbody>
             {% for key,res in data.tasks %}
               <tr>
                    <td> {{ res.startDate|date("Y/m/d") }} </td>
                    <td> {{ res.endDate|date("Y/m/d") }} </td>
                    <td> {{ res.airFare }}          <br> {% if res.imageUrls["airFare"] is defined %}<a target="_blank" href="{{ res.imageUrls["airFare"] }}"> document</a> {% endif %} </td>
                    <td> {{ res.localTravel }}      <br> {% if res.imageUrls["localTravel"] is defined %}<a target="_blank" href={{ res.imageUrls["localTravel"] }}> document</a> {% endif %} </td>
                    <td> {{ res.petrol }}           <br> {% if res.imageUrls["petrol"] is defined %}<a  target="_blank" href="{{ res.imageUrls["petrol"] }}">document</a> {% endif %}</td>
                    <td> {{ res.telephoneExp}}      <br> {% if res.imageUrls["telephoneExp"] is defined %}<a  target="_blank" href="{{ res.imageUrls["telephoneExp"] }}">doc</a> {% endif %}</td>
                    <td> {{ res.lunchSnacks }}      <br> {% if res.imageUrls["lunchSnacks"] is defined %}<a href="{{ res.imageUrls["lunchSnacks"] }}">document</a> {% endif %}</td>
                    <td> {{ res.hotelStay }}        <br> {% if res.imageUrls["hotelStay"] is defined %}<a  target="_blank" href="{{ res.imageUrls["hotelStay"] }}">document</a> {% endif %}</td>
                    <td> {{ res.outstationTravel }} <br> {% if res.imageUrls["outstationTravel"] is defined %}<a  target="_blank" href="{{ res.imageUrls["outstationTravel"] }}">document</a> {% endif %}</td>
                    <td> {{ res.teamOuting }}       <br> {% if res.imageUrls["teamOuting"] is defined %}<a target="_blank" href="{{ res.imageUrls["teamOuting"] }}">image</a> {% endif %}</td>
                    <td> {{ res.miscellaneous }}    <br> {% if res.imageUrls["miscellaneous"] is defined %}<a target="_blank" href="{{ res.imageUrls["miscellaneous"] }}">document</a> {% endif %}</td>
                    <td> {{ res.description }}</td>
                    <td> {{ res.totalExp }} </td>
               </tr>
           {% endfor %}
       </tbody>
      </table>
    </div>
{%  endfor %}
<!--- End -->
{% else %}
<h3>NO DATA</h3>
{% endif %}
{% endblock %}
